# System Files

#macOS
.DS_Store
.AppleDouble
.LSOverride

#windows
Thumbs.db
ehthumbs.db
Desktop.ini

#linux
*~

#temporary files
*.tmp
*.bak

#obsidan
.obsidian/


#python
__pycache__/
*.py[cod]

#c++
*.o
*.obj
*.exe
*.dll
*.lib
*.pdb
*.msi

#symbolic links
*.lnk

#vscode
*.vscode/
*.dSYM
*.yml
*.dSYM

#clion
.idea/
cmake-build-*/
CMakeLists.txt


#unix executables
*.out
*.so
*.a
*.elf

#binary files
*.bin
*.dat



year-1/semester-2/StructDate/SD-Colocviu/sd-Colocviu-Model/sd-1
year-1/semester-2/StructDate/SD-Colocviu/sd-Colocviu-Model/sd-2
year-1/semester-2/StructDate/SD-Colocviu/sd-Colocviu-Model/sd-3

